{{ define "main" }}
<main>
    <article>
    <div class="container" style="background-image: url('{{- (resources.Get .Params.background_image).RelPermalink -}}'); background-size: cover;">
        <div class="grid_pricing_card">
            <div class="pricing_card">
                <h2 class="card_title">Фри</h2>
                <p class="pricing">0 <span class="small">руб.</span></p>
                <p>в любое время</p>
                <hr>
                <ul class="features">
                    <li>Оригинальный текст</li>
                    <li>Аудиосопровождение</li>
                    <li>Обновление контента</li>
                </ul>
                <a href="/posts" class="cta_btn">Начать</a>
            </div>
            <div class="pricing_card">
                <h2 class="card_title">Про</h2>
                <p class="pricing">999<span class="small">руб.</span></p>
                <p>в неделю</p>
                <hr>
                <ul class="features">
                    <li>То же, что в тарифе "Фри"</li>
                    <li>+ Перевод текста</li>
                    <li>+ Фонетика</li>
                </ul>
                 <a href="https://snglish.ru/payment/" class="cta_btn">Оплатить</a>
            </div>
            <div class="pricing_card">
                <h2 class="card_title">Ультра</h2>
                <p class="pricing">2799<span class="small">руб.</span></p>
                <p>в месяц</p>
                <hr>
                <ul class="features">
                    <li>То же, что в тарифе "Про"</li>
                    <li>+ Экономия</li>
                </ul>
                 <a href="https://snglish.ru/payment/" class="cta_btn">Оплатить</a>
            </div>
        </div>
    </div>
    </article>
</main>
{{ end }}